* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
} 

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

}

ol li, ul li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    max-width: 1160px;
}

@media (max-width: 768px) {
    .container {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}

#overlay {
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color: #ccc, $alpha: 0.5);
    position: absolute;
    z-index: 1;
}

#overlay.active {
    display: block;
}